.range-filter {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;

  p {
    font-size: 24px;
    font-family: "Libre Baskerville Bold", sans-serif;
    margin-bottom: 15px;
  }

  &__range-slider {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0;
    height: 30px;
  }

  .slider {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    height: 6px;
    border-radius: 5px;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: white;
      border: 2px solid gray;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: auto;
      position: relative;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid #898989;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: auto;
      position: relative;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      background: lightgray;
      border-radius: 5px;
      cursor: pointer;
    }

    &--min, &--max {
      pointer-events: auto;
    }

    &--min::-webkit-slider-runnable-track,
    &--max::-webkit-slider-runnable-track {
      background: transparent;
    }

    &--min::-moz-range-track,
    &--max::-moz-range-track {
      background: transparent;
    }

    &--min::-webkit-slider-thumb {
      background-color: white;
      z-index: 1;
    }
    &--max::-webkit-slider-thumb {
      background-color: white;
      z-index: 1;
    }

  }

  &__slider-track {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 5px;
    z-index: 0;
    background-color: red;
  }

  &__circles {
    display: flex;
    gap: 30px;
    margin-left: 7px;
  }

  &__circle {
    background: #6d6d6d;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 29px;
  }

  &__price-label {
    min-width: 75px;
    font-weight: 600;
    color: var(--color-grey-text);
    font-size: 18px;

    span:last-child {
      display: block;
      font-size: 16px;
      color: black;
      margin-top: 9px;
    }
  }


}

