@font-face {
  font-family: 'Libre Baskerville';
  src: url("../assets/fonts/Libre Baskerville V2.woff") format('woff'),
  url("../assets/fonts/Libre Baskerville V2.woff2") format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville Bold';
  src: url("../assets/fonts/LibreBaskerville-Bold.woff") format('woff'),
  url("../assets/fonts/LibreBaskerville-Bold.woff2") format('woff2');
  font-style: normal;
  font-display: swap;
}
